html {
	background-color: #DEDEDE;
}

h1 {
	text-align: center;
}

.section {
	background-color: #D4E9E9;
	margin: 10px 20px 10px 20px;
	padding: 0px 30px 20px 30px;

	border-bottom: double 4px #7D8A8A;
}

.sol_desc {
	padding: 0px 15px 5px 15px;
	margin-top: 0px;
}

.sol_title {
	border-bottom: solid 2px #ADAFAD;
}

.inputs {
	padding-left: 15px;
	margin-left: 15px;
	border-left: outset;
}

